<header class="p-4 m-1">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <!-- Brand/Title of website -->
            <a class="navbar-brand" href="/">WGS Bootcamp Batch 4 - Web Application</a>
            <!-- Toggle button for responsive -->
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasDarkNavbar"
                aria-controls="offcanvasDarkNavbar"
            >
            <!-- Icon for the toggler button -->
            <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Display offcanvas whenever navbar toggler get tap -->
            <div
                class="offcanvas offcanvas-end text-bg-dark"
                tabindex="-1"
                id="offcanvasDarkNavbar"
                aria-labelledby="offcanvasDarkNavbarLabel"
            >
                <!-- Top of offcanvas or head, whichever you want to call it -->
                <div class="offcanvas-header">
                    <!-- Title of offcanvas -->
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
                        WGS Bootcamp Batch 4 - Web Application
                    </h5>
                    <!-- Button to close offcanvas -->
                    <button
                        type="button"
                        class="btn-close btn-close-white"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close"
                    ></button>
                </div>
                <!-- Offcanvas body -->
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
